 body {
                
        background-image:url("sino.back.jpg");
        background-repeat: no-repeat;
        background-size: cover;
            } 
            
            .topnav a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                border-bottom: 3px solid transparent;
              }
              ul {
                text-align: center;
                border-bottom: 1px solid #555;
            
              }
              
            h1 {
                font-size: 25px;
                text-align: center;
                color:white;
                text-shadow: 5px 2px 4px #453690;
                text-decoration:underline
              
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
              }
              
                
            
              
              
        
              
              
    
              
              

              
            
            
            
              